/* CSS DESKTOP */

html * {
  font-family: "Source Sans Pro", sans-serif;
}

a:link {
  text-decoration: none;
}

#logo {
  width: 15vw;
}

.heroAbout {
  background-color: #9ddbad;
	height: 300px;
	padding-top: 15vh;
	position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroAboutText {
	width: 30%;
	max-width: 280px;
  color: white;
  position: relative;
	z-index: 1;
	margin-left: 20%;
  text-align: left;
}

.heroAbout img {
	width: 60%;
	max-width: 395px;
	position: relative;
	margin-right: 20%;
}

.hero div {
  color: rgb(0, 0, 0);
  position: relative;
  padding: 1vh;
  left: 10%;
  width: 50vw;
  height: 10vh;
  font-size: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.titleL {
  width: 50%;
  position: absolute;
  z-index: 1;
  right: 0;
}

.titleR {
  width: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  text-align: right;
}

#projPicL {
  height: 70%;
  display: block;
  float: left;
}

#projPicR {
  height: 70%;
  display: block;
  float: right;
}

.leftHandProject {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 500px;
  height: 190px;
  background-color: #eeeeee;
}

.leftHandProject:hover {
	background-color: #ffd668;
}

.rightHandProject:hover {
	background-color: #ffd668;
}

.rtAr {
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0px 15px 15px 0px;
}

.rtArR {
  width: 20%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 0px 15px 15px;
}

.rightHandProject {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  max-width: 500px;
  height: 190px;
  background-color: #eeeeee;
}


.widerP {
	width: 55% !important;
}

.narrowP {
	width: 42% !important;
}

.work {
  background-color: white;
	height: 110vh;
	max-width: 1100px;
	max-height: 500px;
  display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
	align-items: center;
	margin: auto;
}

.outsideWork {
  background-color: white;
}

footer {
  background-color: #9ddbad;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

#contactMe {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerResume img {
  margin-top: -15px;
}

.research {
  background-color: #9ddbad;
  padding: 5% 10% 10% 5%;
}

.solution {
  background-color: #9ddbad;
  padding: 5% 10% 10% 5%;
}

.topSection {
  background-color: white;
  padding: 5% 10% 10% 5%;
}

.topIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 2vh;
}

.indentP {
  width: 60%;
}

.titleH {
  width: 30%;
  text-align: left;
}

.titleText {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.secHeading {
  display: flex;
  justify-content: space-around;
}

#stdImg {
  width: 90%;
  display: block;
  margin: auto;
}

.textCenter {
  text-align: left;
	width: 60%;
}

.nextProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom: 10%;
}

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}  