/* mobile CSS */

html * {
  font-family: "Source Sans Pro", sans-serif;
}

a:link {
  text-decoration: none;
}

#logo {
  width: 15vw;
}

.passions {
  background-color: white;
}

.heroP {
  background-color: #9ddbad;
  height: 180px;
  padding-top: 15vh;
  display: flex;
  align-items: center;
  position: relative;
}

.heroPText {
  color: white;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding-top: 8vh;
  padding-right: 2vh;
  text-align: center;
}

.heroAbout {
  background-color: #9ddbad;
  height: 180px;
  padding-top: 15vh;
  display: flex;
  align-items: center;
  position: relative;
}

.heroAboutText {
  width: 40%;
  color: white;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 10vh;
  padding-left: 8vh;
  text-align: left;
}

.heroAbout img {
  width: 60%;
  position: absolute;
  right: 0;
  padding-bottom: 6vh;
}

.heroP img {
  width: 50%;
  margin-left: 10%;
}

.hero div {
  color: rgb(0, 0, 0);
  position: relative;
  padding: 1vh;
  left: 10%;
  width: 50vw;
  height: 10vh;
  font-size: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.titleL {
  width: 50%;
  position: absolute;
  z-index: 1;
  right: 0;
}

.titleR {
  width: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  text-align: right;
}

#projPicL {
  height: 70%;
  display: block;
  float: left;
}

#projPicR {
  height: 70%;
  display: block;
  float: right;
}

.leftHandProject {
  display: flex;
  align-items: center;
  position: relative;
  width: 75vw;
  max-width: 500px;
  height: 190px;
  background-color: #eeeeee;
}

.rtAr {
  width: 100%;

}

.rtArR {
  width: 100%;
}

.butClick {
	position: absolute;
  right: 0;
	bottom: 10px;
	right: 10px;
	z-index: 100;
	width: 20%;
}

.rightHandProject {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 75vw;
  max-width: 500px;
  height: 190px;
  background-color: #eeeeee;
}

.work {
  background-color: white;
  height: 110vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#workHeading {
  background-color: white;
  margin-left: 7vw;
}

footer {
  background-color: #9ddbad;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.footerResume img {
  margin-top: -15px;
}

.factText {
  width: 70%;
  position: absolute;
  z-index: 1;
  left: 0;
  margin-left: 15%;
  font-size: 1.5vh;
}

.rightHandFact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 0vw;
  width: 85%;
  max-width: 400px;
  height: 190px;
  margin: 20px;
  text-align: right;
}

.leftHandFact {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5vw;
  width: 85vw;
  max-width: 400px;
  height: 190px;
  margin: 20px;
}

.colorBoxL {
  width: 150px;
  height: 150px;
  background-color: #daf1e0;
  margin-left: 20px;
}

.colorBoxR {
  width: 150px;
  height: 150px;
  background-color: #daf1e0;
  margin-right: 20px;
}

.research {
  background-color: #9ddbad;
  padding: 5% 10% 10% 5%;
}

.solution {
  background-color: #9ddbad;
  padding: 5% 10% 10% 5%;
}

.topSection {
  background-color: white;
  padding: 5% 10% 10% 5%;
}

.topIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding-top: 2vh;
}

/*.indentP {
  width: 90%;
  margin-left: 8%;
}*/

.titleText {
	margin-top: 5vh;
	margin-left: 20px;
}

.secHeading {
  display: flex;
  justify-content: space-around;
}

#stdImg {
  width: 90%;
  display: block;
  margin: auto;
}

.textCenter {
  text-align: center;
  margin: 0% 10%;
}

.nextProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom: 10%;
}
